/* common css start */
:root{
    --primary-color:#ffca36;
    --secondery-color:#353535;
    --light-text:#fff;
    --linear-slow:all linear .6s;
    --linear-medium:all linear .4s;
    --linear-fast:all linear .3s;
}
body{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,
p,span,
ul,li{
    margin:0;
    padding:0
}
ul,li{
    list-style-type:none
}
a,a:hover{
    text-decoration:none
}
/* common css end// */
/* top_header css start */
#top_header{
 font-size:14px;
 background:var(--primary-color);
 box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
}
.top_left_header p i{
    padding-right:5px;
}
.top_mid_header{
    background:var(--secondery-color);
    text-align:center;
    color:var(--light-text);
    padding:10px 0;
    transform:skew(-40deg)
}
.top_mid_header p{
    transform:skew(40deg)
}
.top_right_header ul li{
    position:relative;
    margin:0 10px;
}
.top_right_header ul li:after,
.top_right_header ul li:before{
    content:'';
    position:absolute;
    background:var(--secondery-color);
    height:100%;
    width:1px;
    top:0;
    left:0;
    transform:scale(0);
    transition:var(--linear-medium);
}
.top_right_header ul li:after{
    left:auto;
    right:0;
}
.top_right_header ul li a{
    display:block;
    height:19px;
    width:19px;
    text-align:center;
    line-height:19px;
    color:var(--secondery-color);
}
.top_right_header ul li a:after,
.top_right_header ul li a:before{
    content:'';
    position:absolute;
    height:1px;
    width:100%;
    top:0;
    left:0;
    background:var(--secondery-color);
    transform:scale(0);
    transition:var(--linear-medium)
}
.top_right_header ul li a:after{
    top:auto;
    bottom:0;
}

.top_right_header ul li:hover::after,
.top_right_header ul li:hover::before,
.top_right_header ul li a:hover::after,
.top_right_header ul li a:hover::before{
    transform:scale(1.2);
}
/* top_header css end// */
/* nav css start */
nav #main_menu ul li{
    position:relative;
    margin:0 10px;
}
nav #main_menu ul li a{
    color:var(--secondery-color);
    transition:var(--linear-medium);
}
nav #main_menu ul li a:hover{
    color:var(--primary-color);
}
nav #main_menu #menu_btn{
    transition:var(--linear-medium);
}
nav #main_menu #menu_btn:hover {
    color:var(--primary-color);
}
nav #main_menu ul li::before,
nav #main_menu ul li::after{
    content:'';
    position:absolute;
    height:1px;
    width:100%;
    background:var(--primary-color);
    left:0;
    top:0;
    transform:scale(0);
    transition:var(--linear-medium);
}
nav #main_menu ul li:after{
    top:auto;
    bottom:0;
}
nav #main_menu ul li a::before,
nav #main_menu ul li a::after{
    content:'';
    position:absolute;
    height:100%;
    width:1px;
    background:var(--primary-color);
    top:0;
    left:0;
    transform:scale(0);
    transition:var(--linear-medium);
}
nav #main_menu ul li a::after{
    left:auto;
    right:0;
}

nav #main_menu ul li:hover::before,
nav #main_menu ul li:hover::after,
nav #main_menu ul li a:hover::before,
nav #main_menu ul li a:hover::after{
    transform:scale(1.2)
}
/* nav css end// */